.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main {
    height: 48rem;
    width: 34.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greetings {
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: 400;
    text-align: center;
}
.greetings span {
    font-weight: 700;
}
.mb-16 {
    margin-bottom: 1.6rem;
}

.cloud {
    width: 40rem;
    height: 9rem;
    background-color: var(--clouds_color);
    opacity: .95;
    border-radius: 70%;
    animation: cloud 20s linear;
}
@keyframes cloud {
    0% {
        transform: translateX(12rem);
    }
    100% {
        transform: translateX(0)
    }
}

.cl1 {
    position: absolute;
    top: 44rem;
    left: -24rem;
}
.cl2 {
    position: absolute;
    top: 36rem;
    left: 10rem;
}
.cl3 {
    visibility: hidden;
    position: absolute;
    top: 26rem;
    right: -18rem;
}
@media(min-width: 768px) {
    .cl3 {
        visibility: visible;
    }
}
.over-cloud {
    z-index: 1;
}