.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--neutral_color--100);
    padding: 1.6rem 
}

.my-name {
    color: var(--white_color);
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: bold;
    margin-left: 1.6rem;
}
h4 span {
    color: var(--primary_color--80);
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-left: .4rem;
}
@media (min-width: 768px) {
    .margin-right {
        margin-right: 3.2rem;
    }
    .my-name {
        margin-left: 3.2rem;
    }
    
}
.margin-right {
    margin-right: 1.6rem;
}
