.project-card {
    margin-top: 1.6rem;
    background-color: white;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    position: relative;
    z-index: 1;
}
 @media (min-width: 768px) {
    .project-card {
        margin: 3.2rem;
    }
 }
 @media (min-width: 800px) {
    .bk-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .project-card {
        max-width: 64rem;
    }
 }
.resume {
    font-size: 2rem;
    color: var(--neutral__color--100);

}