.section {
    padding: 2rem 3rem;
}

.section--presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
@media (min-width: 768px) {
    .section--presentation {
        display: grid;
        grid-template-columns: 35% 65%;   
        justify-content: center;
    }
}
@media (min-width: 1000px) {
    .section--presentation {
        display: grid;
        grid-template-columns: 42% 38%;   
        justify-content: center;
    }
}
.img__div {
    display: block;
    width: 16rem;
    height: 16rem;
}
.img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
