@media (min-width: 1024px) {
    .section--contact__divdiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.section--contact {
    background-color: var(--white_color);
    padding: 3rem;
    margin-bottom: 3rem;
}
@media (min-width: 480px) {
    .section--contact {
    margin: 3rem;
    }
}

@media (min-width: 1024px) {
    .section--contact {
        width: 64rem;
    }
}
.form {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
label {
    color: var(--neutral_color--80);
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1.8rem;
}
textarea {
    background-color: var(--primary_color--20);
    border: none;
    resize: none;
}
.input {
    margin-top: 0;
    padding: .8rem;
    border: none;
    background-color: var(--primary_color--20);
}
.mt {
    margin-top: 2.2rem;
}