footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0 0;
}
footer p, footer span {
    color: var(--white_color);
}
.link-luis {
    font-size: 1.6rem;
    color: var(--primary_color--40);
    margin-left: 1px;
}
.footer-mention {
    display: flex;
    flex-direction: row;
    justify-content: center;
}