.underlined {
    position: absolute;
    background-color: var(--primary_color--100);
    width: 3.2rem;
    height: .4rem;
    bottom: 0px;
}
.animation-underlined {
    position: absolute;
    background-color: var(--primary_color--100);
    width: 3.2rem;
    height: .4rem;
    bottom: 0px;
    transition: width 200% 1.67s
}
