.white-rectangle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.white-rectangle h4 {
    color: var(--neutral_color--100);
    font-weight: bold;
    font-size: 1.6rem;
    margin: .4rem auto;
}
.white-rectangle p {
  margin: 0 auto .8rem;
}
